	{%-if include.opcode.deprecated == nil
		and include.opcode.name != "*_mod"
		and include.opcode.name != "hint_*" %}
		<tr>
{%comment%} Category {%endcomment%}
			<td class="{{ include.category.id }}"><span style="display:none">{{ include.category.name }}</span></td>
{%comment%} Opcode {%endcomment%}
			<td>{%-include sfizz/opcodes/functions/get_opcode_url_as_html.liquid opcode=include.opcode-%}</td>
{%comment%} Version {%endcomment%}
		{%-if    include.opcode.version-%} {%-assign opcode_version = include.opcode.version-%}
		{%-elsif include.parent.version-%} {%-assign opcode_version = include.parent.version-%}
		{%-endif-%}
		<td style="text-align:center">{{ opcode_version }}</td>
{%comment%} Supported {%endcomment%}
		{%-assign sfizz_opcode = site.data.sfizz.support.opcodes
			| where: "name", include.opcode.name | first-%}
		{%-if sfizz_opcode == nil or
			sfizz_opcode.support == 'x'-%}          {%-assign opcode_support = ":x:"-%}
		{%-elsif sfizz_opcode.support == "new"-%} {%-assign opcode_support = ":new:"-%}
		{%-elsif sfizz_opcode.support == "wip"-%} {%-assign opcode_support = ":construction:"-%}
		{%-else-%}                                {%-assign opcode_support = ":heavy_check_mark:"-%}
		{%-endif-%}
			<td style="text-align:center">{{ opcode_support }}</td>
{%comment%} Comment {%endcomment%}
		{%-if sfizz_opcode.comment-%}
			{%-assign opcode_comment = sfizz_opcode.comment-%}
		{%-elsif include.type-%}
			{%capture opcode_comment%}
				{% include sfizz/opcodes/functions/get_opcode_url_as_html.liquid opcode=include.parent %} alias.
			{%-endcapture-%}
		{%-else-%}
			{%-assign opcode_comment = ''-%}
		{%-endif-%}
			<td>{{ opcode_comment }}</td>
		</tr>
{%comment%} Rescan recursively {%endcomment%}
		{%-for alias in include.opcode.alias-%}
			{% include sfizz/opcodes/functions/add_opcode_to_table.liquid
				category = include.category
				parent   = include.opcode
				opcode   = alias
				alias    = true %}
		{%-endfor-%}
		{%-for midi_cc in include.opcode.modulation.midi_cc-%}
			{% include sfizz/opcodes/functions/add_opcode_to_table.liquid
				category = include.category
				parent   = include.opcode
				opcode   = midi_cc %}
		{%-endfor-%}
		{%-for velocity_cc in include.opcode.modulation.velocity-%}
			{% include sfizz/opcodes/functions/add_opcode_to_table.liquid
				category = include.category
				parent   = include.opcode
				opcode   = velocity_cc %}
		{%-endfor-%}
	{%-endif-%}
