{% include sfz/opcodes-filters.liquid %}
<style>
th
{
	background-color:#222;
	color: white;
	font-weight: normal
}
</style>
<table
	class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	id="table-opcodes"
	data-toggle="table">
	<thead>
		<tr>
			<th data-field="category"></th>
			<th data-field="opcode"    data-sortable="true">Opcode</th>
			<th data-field="version"   data-sortable="true">Version</th>
			<th data-field="supported" data-sortable="true">Supported</th>
			<th data-field="comment"   data-sortable="true">Comment</th>
		</tr>
	</thead>
	<tbody>
{%-for category_ in site.data.sfz.syntax.categories-%}
	{%-for toplevel_opcode in category_.opcodes-%}
		{% include sfz/functions/addOpcodeToTable.liquid
			category = category_
			opcode   = toplevel_opcode %}
	{%-endfor-%}
	{%-for category_type in category_.types-%}
		{%-for toplevel_opcode in category_type.opcodes-%}
			{% include sfz/functions/addOpcodeToTable.liquid
				category = category_type
				opcode   = toplevel_opcode %}
		{%-endfor-%}
	{%-endfor-%}
{%-endfor-%}
{%-for category_ in site.data.sfizz.support.categories-%}
	{%-for opcode in category_.opcodes-%}
		<tr>
			<td class="{{ category_.id }}"><span style="display:none">{{ category_.name }}</span></td>
			<td>{{ opcode.name }}</td>
			<td style="text-align:center">sfizz</td>
		{%-if opcode.support == 'x'-%}
			{%-assign opcode_support = ":x:"-%}
		{%-elsif opcode.support == "new"-%}
			{%-assign opcode_support = ":new:"-%}
		{%-elsif opcode.support == "wip"-%}
			{%-assign opcode_support = ":construction:"-%}
		{%-else-%}
			{%-assign opcode_support = ":heavy_check_mark:"-%}
		{%-endif-%}
			<td style="text-align:center">{{ opcode_support }}</td>
		{%-if opcode.comment-%}
			{%-assign opcode_comment = opcode.comment-%}
		{%-else-%}
			{%-assign opcode_comment = ''-%}
		{%-endif-%}
			<td>{{ opcode_comment }}</td>
		</tr>
	{%-endfor-%}
{%-endfor-%}
	</tbody>
</table>
