{%-assign ariaTotal = 0-%}
{%-assign cakeTotal = 0-%}
{%-assign sfz1Total = 0-%}
{%-assign sfz2Total = 0-%}
{%-assign ariaDone = 0-%}
{%-assign cakeDone = 0-%}
{%-assign sfz1Done = 0-%}
{%-assign sfz2Done = 0-%}
{%-assign ariaWip = 0-%}
{%-assign cakeWip = 0-%}
{%-assign sfz1Wip = 0-%}
{%-assign sfz2Wip = 0-%}

{%-for category_ in site.data.sfz.syntax.categories-%}
	{%-for toplevel_opcode in category_.opcodes-%}
		{% include sfz/functions/addOpcodeToStat.liquid
			category = category_
			opcode   = toplevel_opcode %}
	{%-endfor-%}
	{%-for category_type in category_.types-%}
		{%-for toplevel_opcode in category_type.opcodes-%}
			{% include sfz/functions/addOpcodeToStat.liquid
				category = category_type
				opcode   = toplevel_opcode %}
		{%-endfor-%}
	{%-endfor-%}
{%-endfor-%}

{%-assign ariaDone = ariaDone | times: 100 | divided_by: ariaTotal-%}
{%-assign cakeDone = cakeDone | times: 100 | divided_by: cakeTotal-%}
{%-assign sfz1Done = sfz1Done | times: 100 | divided_by: sfz1Total-%}
{%-assign sfz2Done = sfz2Done | times: 100 | divided_by: sfz2Total-%}
{%-assign ariaWip  = ariaWip  | times: 100 | divided_by: ariaTotal-%}
{%-assign cakeWip  = cakeWip  | times: 100 | divided_by: cakeTotal-%}
{%-assign sfz1Wip  = sfz1Wip  | times: 100 | divided_by: sfz1Total-%}
{%-assign sfz2Wip  = sfz2Wip  | times: 100 | divided_by: sfz2Total-%}

<table data-toggle="table" data-classes="table table-sm">
	<thead class="thead-dark">
		<tr>
			<th>Version</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>SFZ v1</td>
			<td>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ sfz1Done }}%;" aria-valuenow="{{ sfz1Done }}" aria-valuemin="0" aria-valuemax="100">{{ sfz1Done }}%</div>
{%-if sfz1Wip > 0-%}
					<div class="progress-bar bg-warning" role="progressbar" style="width: {{ sfz1Wip }}%; color: black" aria-valuenow="{{ sfz1Wip }}" aria-valuemin="0" aria-valuemax="100">{{ sfz1Wip }}%</div>
{%-endif-%}
				</div>
			</td>
		</tr>
		<tr>
			<td>SFZ v2</td>
			<td>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ sfz2Done }}%;" aria-valuenow="{{ sfz2Done }}" aria-valuemin="0" aria-valuemax="100">{{ sfz2Done }}%</div>
{%-if sfz2Wip > 0-%}
					<div class="progress-bar bg-warning" role="progressbar" style="width: {{ sfz2Wip }}%; color: black" aria-valuenow="{{ sfz2Wip }}" aria-valuemin="0" aria-valuemax="100">{{ sfz2Wip }}%</div>
{%-endif-%}
				</div>
			</td>
		</tr>
		<tr>
			<td>Cakewalk</td>
			<td>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ cakeDone }}%;" aria-valuenow="{{ cakeDone }}" aria-valuemin="0" aria-valuemax="100">{{ cakeDone }}%</div>
{%-if cakeWip > 0-%}
					<div class="progress-bar bg-warning" role="progressbar" style="width: {{ cakeWip }}%; color: black" aria-valuenow="{{ cakeWip }}" aria-valuemin="0" aria-valuemax="100">{{ cakeWip }}%</div>
{%-endif-%}
				</div>
			</td>
		</tr>
		<tr>
			<td>ARIA</td>
			<td>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: {{ ariaDone }}%;" aria-valuenow="{{ ariaDone }}" aria-valuemin="0" aria-valuemax="100">{{ ariaDone }}%</div>
{%-if ariaWip > 0-%}
					<div class="progress-bar bg-warning" role="progressbar" style="width: {{ ariaWip }}%; color: black" aria-valuenow="{{ ariaWip }}" aria-valuemin="0" aria-valuemax="100">{{ ariaWip }}%</div>
{%-endif-%}
				</div>
			</td>
		</tr>
	</tbody>
</table>
